*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
}
#navbar{
    height: 50px;
    width: 100%;
    background-color: #88c6ec;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px ;
    padding: 30px;   
    border-radius: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.main h1 {
    font-size: 48px;
    margin: 20px;
    text-align: center;
}

.main p {
    font-size: 20px;
    line-height: 40px;
    width: -webkit-fill-available;
    text-align: center;
}

#results {
    max-height: 225px;
    overflow: auto;
    background-color: hsl(0deg 0% 100% / 44%);
    border-radius: 10px;
}

.main form {
    display: grid;
    grid-template-columns: 1fr 120px;
    width: 100%;
}

.main form * {
    padding: 10px;
    margin: 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
}

#guessButton {
    background-color: #8BC6EC;
    cursor: pointer;
}

#guessButton:hover {
    background-color: #88c9fa;
}
